._4xi4 .notifMainLink img{display:none}._4xi4 .anchorContainer span.img{display:none}._4xi4 ._2g48{line-height:19px}._4xi4 ._4962 span.jewelCount,._4xi4 ._4962 .jewelCount{right:-2px;top:-4px}._4xi4 .openToggler{z-index:500}._4xi4{height:19px;margin:0}

#bootloader_j2bqP{height:42px;}.bootloader_j2bqP{display:block!important;}