._2qgu._2qgu{border-radius:50%;overflow:hidden}._606w:after{border-radius:50%}._605a .fbxWelcomeBoxBlock:after{border-radius:50%}

#bootloader_vjCCz{height:42px;}.bootloader_vjCCz{display:block!important;}